 <div id="about" class="user-details">
  <h1> My Expertise</h1>
  <p>Programmer with 5+ years of experience with a demonstrated history of driving client solutions. Proficient in data analytics using Python and R. Interested in Machine Learning and problem-solving.</p>
  <p>I recently graduated with a master's degree in Data Science from Bellevue University, and a bachelor's degree in Electronics Engineering Technology from Texas A&M University.</p>
  <p>In my spare time, I play board games with my wife, video games with friends, and lead a men's church group.</p>
</div>
